@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.dark body {
  background-color: #252128;
}

.section-wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
